# Exemples de fonctions Pandas utiles pour le TP 1

## Importations des librairies utiles

In [5]:
import numpy as np
import pandas as pd

print('numpy %s, pandas %s'%(np.__version__,pd.__version__))

numpy 1.18.2, pandas 1.0.3

In [7]:
my_dataframe = pd.read_csv('Data/iris.csv', dtype={'id_Iris': np.int})
my_dataframe

,id_Iris,Longueur Sépale (cm),Largeur Sépale (cm),Longueur Pétale (cm),Largeur Pétale (cm),Type Iris
0,23,NaN,NaN,1.4,0.2,0
1,104,4.9,3.0,1.4,0.2,0
2,18,4.7,3.2,1.3,0.2,0
3,49,4.6,3.1,1.5,0.2,0
4,123,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...,...
145,124,6.7,3.0,5.2,2.3,2
146,44,6.3,2.5,5.0,1.9,2
147,69,6.5,3.0,NaN,2.0,2
148,56,6.2,3.4,5.4,2.3,2
149,5,5.9,3.0,5.1,1.8,2

In [ ]:
my_dataframe.sample(5)

In [ ]:
my_dataframe.info()

In [ ]:
my_dataframe.mean()

In [ ]:
my_dataframe.dtypes

## Transformation d'une colonne en index

In [ ]:
my_dataframe.set_index('id_Iris',inplace=True)
my_dataframe

## Tri selon l'index

In [ ]:
my_dataframe.sort_index(inplace=True) #Inplace permet de conserver les modification du DataFrame
my_dataframe

## Sélection d'une colonne de Dataframe

In [ ]:
my_dataframe['Largeur Sépale (cm)']

## Sélection d'une sous-partie de Dataframe (Slice) avec loc

In [ ]:
my_dataframe.loc[124:128,'Largeur Sépale (cm)':'Largeur Pétale (cm)']

In [ ]:
mon_petit_dataframe = my_dataframe.loc[145:,['Longueur Sépale (cm)','Longueur Pétale (cm)','Type Iris']]
mon_petit_dataframe

## Filtre

In [ ]:
mon_petit_dataframe[mon_petit_dataframe['Longueur Pétale (cm)']>4]

## Modification en masse (Vectorisation)

In [ ]:
mon_petit_dataframe * 2

In [ ]:
mon_petit_dataframe['Longueur Pétale (cm)'] = mon_petit_dataframe['Longueur Pétale (cm)'] -1
mon_petit_dataframe

## Conversion en Numpy (nécessaire car attendu par scikit)

In [ ]:
my_array=mon_petit_dataframe.values
print(type(my_array))
my_array

## Fonction GroupBy

In [ ]:
mon_petit_dataframe[['Longueur Sépale (cm)', 'Longueur Pétale (cm)','Type Iris']].groupby(['Type Iris'])

In [ ]:
mon_petit_dataframe[['Longueur Sépale (cm)', 'Longueur Pétale (cm)','Type Iris']].groupby(['Type Iris']).mean()

In [ ]:
mon_petit_dataframe[['Longueur Sépale (cm)', 'Longueur Pétale (cm)','Type Iris']].groupby(['Type Iris']).max()

## Fonction qcut and cut

In [ ]:
my_dataframe['CategoricalLgPetale'] = pd.qcut(my_dataframe['Longueur Pétale (cm)'],5)
my_dataframe.head(3)

In [ ]:
pd.qcut(my_dataframe['Longueur Pétale (cm)'],5).value_counts()

In [ ]:
my_dataframe['CategoricalLgPetale'] = pd.cut(my_dataframe['Longueur Pétale (cm)'],5)
my_dataframe.head(3)

In [ ]:
pd.cut(my_dataframe['Longueur Pétale (cm)'],5).value_counts()

## Fonction map

In [8]:
my_dataframe['label_iris'] =  my_dataframe["Type Iris"].map(
    {0:'Versicolor',
     1:'Setosa',
     2:'Virginica',
    }
)
my_dataframe

,id_Iris,Longueur Sépale (cm),Largeur Sépale (cm),Longueur Pétale (cm),Largeur Pétale (cm),Type Iris,label_iris
0,23,NaN,NaN,1.4,0.2,0,Versicolor
1,104,4.9,3.0,1.4,0.2,0,Versicolor
2,18,4.7,3.2,1.3,0.2,0,Versicolor
3,49,4.6,3.1,1.5,0.2,0,Versicolor
4,123,5.0,3.6,1.4,0.2,0,Versicolor
...,...,...,...,...,...,...,...
145,124,6.7,3.0,5.2,2.3,2,Virginica
146,44,6.3,2.5,5.0,1.9,2,Virginica
147,69,6.5,3.0,NaN,2.0,2,Virginica
148,56,6.2,3.4,5.4,2.3,2,Virginica
149,5,5.9,3.0,5.1,1.8,2,Virginica

## Filtre de valeurs

In [ ]:
my_dataframe.loc[my_dataframe["Type Iris"]==2][0:20]

## Filtre et Remplacement de valeurs

In [ ]:
my_dataframe.loc[
    my_dataframe["Largeur Pétale (cm)"]>2, # Lignes
                "label_iris"
    ]= 'Grand Virginica'
my_dataframe[0:20]

## Remplir les valeurs manquantes

In [ ]:
mon_petit_dataframe.fillna(0) # Ajouter le paramètre inplace=True pour que le DataFrame soit modifié

In [ ]:
mon_petit_dataframe

## columns et drop

In [ ]:
print(list(my_dataframe.columns.values))
my_dataframe = my_dataframe.drop('CategoricalLgPetale', axis=1)
print(list(my_dataframe.columns.values))

## Mise en Forme

In [ ]:
from IPython.display import Markdown, display, HTML

display(HTML('<span style="color:blue;font-weight:bold">Ceci est le titre</span>'))
display(HTML(mon_petit_dataframe.to_html()))
display(HTML('<span style="color:blue;font-weight:bold">----- Fin ----- </span>'))